<form class="example-container" [formGroup]="form" #frmSpeciality="ngForm" (ngSubmit)="operar()">
    <br>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Descripcion" required formControlName="descripcion">
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="frmSpeciality.invalid">
        <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button color="accent" routerLink="/especialidad" type="button">
        <mat-icon>close</mat-icon>
        <span>cancelar</span>
    </button>
</form> 

