<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>  
    </button>
    <h1 class="example-app-name">SOFTMEDICAL</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px" mode="push">
      <img src="assets/Softmedical.svg" width="128" style="margin-left: 20px;">
      
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medico" style="cursor: pointer">
        <mat-icon>healing</mat-icon>
        <span>Médico</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente" style="cursor: pointer">
        <mat-icon>accessibility</mat-icon>
        <span>Paciente</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor: pointer">
        <mat-icon>colorize</mat-icon>
        <span>Especialidad</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta" style="cursor: pointer">
        <mat-icon>filter_none</mat-icon>
        <span>Consultas</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta_registradas" style="cursor: pointer">
        <mat-icon>filter_none</mat-icon>
        <span>Consultas Registradas</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>